*,
*::after,
*::before {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
}

h1 {
  margin-top: 0px;
  color: rebeccapurple;
}

.new-book {
  margin-bottom: 10px;
  background-color: rgb(129, 97, 129);
  color: white;
}

.modal-form {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccc;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.modal-title {
  font-weight: 700;
}

.modal-form.active {
  transform: translate(-50%, -50%) scale(1);
}

.container {
  display: flex;
  flex-direction: column;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /* our overlay won't capture pointer events */
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

table,
td,
th {
  padding: 5px;
  border: 1px solid black;
}
table {
  margin: auto;
  background-color: white;
}

[data-boolean="true"] {
  background: green;
}

[data-boolean="false"] {
  background-color: red;
}
